p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    color: white;
    background-color: rgb(29, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    color: black;
    background-color: var(--dark);
    border-radius: .8rem;
    color: lightgray;
    resize: none;
}

input {
    color: darkgrey;
}

button {
    background-color: var(--dark);  
    color: var(--lightgray);
}

:root {
    --dark: rgb(75, 75, 75);
    --light: lightgrey;
    --primary-color: pink;
    --secondary-color: yellow;
}